*{
    box-sizing: border-box;
}

body {
    background-image: url(y2k_bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
}

h2 {
    font-weight: 500;
}

p, li, ul {
    font-weight: 300;

}

#homepage-title {
    font-family: "puffin-arcade-regular", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    font-size: 70px;
    margin-bottom: 0;
}

.gingersnap, .bagel, .chicken {
    font-family: "clicker", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gingersnap {
    color: rgb(123, 73, 13);
}

.bagel {
    color: rgb(51, 53, 45);
}

.chicken {
    color: rgb(186, 40, 11);
}

.recipe {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "clicker", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 4px 8px 4px 8px;
    color: white;
    width: 280px;
    height: 40px;
    margin: auto 8px;
    border-radius: 5px;
    background-color: rgb(244, 166, 216);
}

.recipe-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.source, .back-link {
    color:rgb(38, 154, 222);
}

.eating-gif {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 5px;
}

.ginger-text {
    color: white;
}