#homepage-title {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(224, 185, 44);
}

.recipes-list {
    text-align: center;
    list-style-position: inside;
    padding-left: 0;
}

h1 {
    text-align: left;
}